<input [(ngModel)]="newName">
<button (click)="saveName()">Save</button>


<!---->
<!-- 1. inline datepicker -->
<!-- 2. datepicker in the popup -->
<input type="text" ngbDatepicker #d="ngbDatepicker"/>
<button (click)="d.toggle()">Start Date</button>

<input type="text" ngbDatepicker #a="ngbDatepicker"/>
<button (click)="a.toggle()" >End Date</button>

<!--<p>Simple datepicker</p>

<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

<hr/>

<button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>

<hr/>

<pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre>-->

<!---->



<h3>Names!</h3>
<div *ngFor="let person of names">
  <div class="row">
    <h4>{{ person.name }}</h4>
    <button type="button" class="btn btn-danger" (click)="deleteName(person)">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="newEditName(editModal, person)">Edit</button>
  </div>
</div>


<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Name</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="editNameInput">Edit the selected name:</label>
        <div class="input-group">
          <input id="editNameInput" class="form-control" [(ngModel)]="editName.name" name="Edit Name">
        	
		</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
	<input type="text" ngbDatepicker #d="ngbDatepicker"/>
	<button (click)="d.toggle()">Start Date</button>

	<input type="text" ngbDatepicker #a="ngbDatepicker"/>
	<button (click)="a.toggle()" >End Date</button>

    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
  </div>
</ng-template>
